{% extends "base.html" %}


{% block content %}
<div class="posts-container">
    {% for post in posts %}
    <div class="post-card">
        <div class="post-header">
            <p class="post-username">{{ post.user.username }}</p>
            <p class="post-date">{{ post.created_at }}</p>
        </div>
        <h2 class="post-title">{{ post.title }}</h2>
        <p class="post-content">{{ post.content }}</p>
        {% if post.image %}
        <img src="{{ post.image.url }}" alt="{{ post.title }}" class="post-image">
        {% endif %}
        
        <!-- Выводим комментарии к посту -->
        <div class="comments-section">
            <h3>Комментарии</h3>
            {% for comment in post.comments.all %}
                <p><strong>{{ comment.user.username }}</strong>: {{ comment.content }}</p>
            {% empty %}
                <p>Нет комментариев</p>
            {% endfor %}
        </div>

        <!-- Форма для добавления комментария -->
        <form method="post" action="{% url 'add_comment' post.id %}" class="comment-form">
            {% csrf_token %}
            <div class="form-group">
                {{ form.content }}
            </div>
            <button type="submit" class="btn btn-primary">Добавить комментарий</button>
        </form>

    </div>
    {% endfor %}
</div>
{% endblock %}
