{% load static %}

<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Social Network</title>
    {{ form.media }}
    <link rel="stylesheet" href="{% static '/css/style.css' %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    
</head>
<body>
    <header class="header" id="header">
        <div class="container">
            <div class="header_inner">
                <div class="navv" id="navv">
                    <img id="icon" class="icon" src="{% static "icon_hmr.png" %}" alt="Menu"> 
                    {% if request.user.is_authenticated %}
                    <div class="navv_inner" id="navv_inner">
                        {% if user.slug %}
                        <a class="navv__link" href="{% url 'profile' user.slug %}">{{user.username}}</a>
                    {% else %}
                        <span>Профиль недоступен</span>
                    {% endif %}                       
                     <a class="navv__link" href="{% url "create_post" %}">Создать пост</a>
                        <a class="navv__link" href="{% url 'index' %}">Home</a>
                        <a class="navv__link" href="{% url 'index' %}">Friends</a>
                        <a class="navv__link" href="#">Settings</a>
                        <a class="navv__link" href="#">Profile</a>
                    </div>     
                    {% endif %}
                </div>
                <a class="header__logo" href="{% url 'index' %}">Chetam</a>
                <nav class="nav">
                    {% include "includes/search.html" %}


                {% comment "searchhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhh " %}{% endcomment %}
                    {% if request.user.is_authenticated %}
                    <a class="nav__link" href="{% url "logout" %}">Logout</a>
                    {% else %}
                    <a class="nav__link" href="{% url "login" %}">Log in</a>
                    <a class="nav__link" href="{% url "registr" %}">Sign in</a>
                    {% endif %}
                </nav>
            </div>
        </div>
    </header>



    {% block content %}{% endblock content %}

    
    <script src="{% static 'js/app.js' %}"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="{% static "js/scripts.js" %}"></script>

</body>
</html>